version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: jivan-redis
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "1000"]
    volumes:
      - redis_data:/data
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: jivan-uptime-kuma
    volumes:
      - uptime_kuma_data:/app/data
    restart: unless-stopped
    ports:
      - "127.0.0.1:3001:3001"

volumes:
  redis_data:
  uptime_kuma_data:
